html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: url("IMG_3180.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;

  display: grid;
  justify-content: center;
}

.jumbotron {
  opacity: 0.93;
  max-width: 850px;
}

.display-4 {
  text-align: center;
}
